html {
  background-color: #282c34;
  /* color: white;   */
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App {
  /* text-align: center; */
  /* font-family: 'Courier New', Courier, monospace; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 3rem;
  font-size: calc(10px + 2vmin);
  color: #FFFFFA;
}
